
  *{
      margin: 0;

  }
  body{
      width:100%;
      height:100vh;
  }
  .contenido{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;

  }
 .card{
   width: 400px;
   height:63vh;
   margin: 20px;
   border-radius: 6px;
   overflow: hidden;
   background:#fff;
   box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
   cursor: pointer;
   transition: all 400ms ease;
   background-color:rgba(0, 0, 0, 0.4);

 }
 .card:hover{
   box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
   transform: translate(-3%);

 }

 